@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap');
@import "./utils/scss/mixins";
@import "./utils/scss/variables";
@import "./components/Interested/AnimalCard/index.scss";
@import "./components//Interested/AnimalStack/index.scss";



body,
html {
    font-family: 'Signika Negative', sans-serif;}

.fur-font{
    font-family: 'Signika Negative', sans-serif;
    font-variant: small-caps;
    font-size: small;
}


.light-bg {
    background-color: lighten($fur-color, 30%)
}

.fur-bg {
    background-color: $fur-color;
}

.dark-bg {
    background-color: darken($fur-color, 20%)
}

.link {
    color: $fur-scd-color;
    &:hover {
        color: darken($fur-scd-color, 20%);
    }
}

.fur-text{
    color: $fur-scd-color ;
}

.submit-btn{
    background-color: $fur-color;
    &:hover {
        background-color: darken($fur-color, 20%);
    }
    display: flex;
    align-items: center;
    justify-content: center;
}

.furbar-btn{
    background-color: $fur-color;
    &:hover {
        background-color: darken($fur-color, 20%);
    }
}

.close-btn{
    background-color: darken($color: red, $amount: 15%);
    &:hover {
        background-color:darken($color: red, $amount: 5%);
    }
    color:white
}

.add-btn{
    background-color:  white;
    &:hover {
        background-color: lighten($fur-color, 30%);
        color: black;
    }
    color:black
}

.register-choice{
    height: 15vh;
    width: 15vw;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}